extends layout

block append content
  div.map
    iframe(width="425", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.ca/maps?q=1+Research+Road,+Winnipeg,+MB&amp;hl=en&amp;sll=49.853822,-97.152225&amp;sspn=0.791562,2.113495&amp;oq=1+Research+Road,+&amp;hnear=1+Research+Rd,+Winnipeg,+Manitoba+R3T+6E3&amp;t=m&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=49.802578,-97.149136&amp;output=embed")
    br
    small 
      a(href="https://maps.google.ca/maps?q=1+Research+Road,+Winnipeg,+MB&amp;hl=en&amp;sll=49.853822,-97.152225&amp;sspn=0.791562,2.113495&amp;oq=1+Research+Road,+&amp;hnear=1+Research+Rd,+Winnipeg,+Manitoba+R3T+6E3&amp;t=m&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=49.802578,-97.149136&amp;source=embed", style="color:#0000FF;text-align:left") .
        View Larger Map

    p 
      b Location:
      a(href="https://maps.google.ca/maps?q=1+Research+Road,+Winnipeg,+MB&hl=en&ll=49.802804,-97.147121&spn=0.008587,0.020213&sll=49.853822,-97.152225&sspn=0.791562,2.113495&oq=1+Research+Road,+&hnear=1+Research+Rd,+Winnipeg,+Manitoba+R3T+6E3&t=m&z=16" ) 
        div Smart Park Event Center - 2nd floor
        div 1 Research Rd 
        div Winnipeg, MB R3T 6E3

  div.description.event-2013-02-20
    h1 Introduction to CoffeeScript
    time(datetime="2013-02-20 18:00") 6pm Wed, February 20, 2013 @ UofM Smart Park

    img(src="/images/coffeescript-logo.png")

    p 
      | Please RSVP to the event using Eventbrite using this link: 
      a(href="") Eventbrite
      | .

    p .
      CoffeeScript is a small language that compiles to Javascript that aims to solve 
      many of the short comings of javascript (the bad parts). It makes it easier to 
      write less code that does more in a simple and elegant way.

    p .
      Kevin Quiring will be talking about CoffeeScript and how his team at Winnipeg 
      Transit is using it to help them solve real problems. Problems that would 
      otherwise require nasty hacks if they were written in plain javascript. He will 
      also touch base on the criticism around coffee and why you should use it in your next project.

    h2 About the Speaker
    p .
      Kevin Quiring is a passionate Ruby on Rails developer currently working for Winnipeg Transit.