<% include ../top %>
<% include event-scripts %>

<% include gm-lego %>

		<div class="description event-2013-02-20">
			<h1>Introduction to CoffeeScript</h1>
			<time datetime="2013-02-20 18:00">6pm Wed, February 20, 2013 @ UofM Smart Park</time>
			<img src="/images/coffeescript-logo.png">
			<p>Please RSVP to the event using Eventbrite using this link: <a href="http://www.eventbrite.com/event/5515131908">Eventbrite</a>.</p>
			<p>
				CoffeeScript is a small language that compiles to Javascript that aims to solve 
				many of the short comings of javascript (the bad parts). It makes it easier to 
				write less code that does more in a simple and elegant way.
			</p>
			<p>
				Kevin Quiring will be talking about CoffeeScript and how his team at Winnipeg 
				Transit is using it to help them solve real problems. Problems that would 
				otherwise require nasty hacks if they were written in plain javascript. He will 
				also touch base on the criticism around coffee and why you should use it in your next project.
			</p>
			
			<h2>About the Speaker</h2>
			<p>Kevin Quiring is a passionate Ruby on Rails developer currently working for Winnipeg Transit.</p>
		</div>

<% include ../bottom %>
