		<div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d642.565917983129!2d-97.14591605307548!3d49.89385292239576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ea7158f81f09c1%3A0xcb3fd043d0d6fff5!2s355+Portage+Ave!5e0!3m2!1sen!2sca!4v1399258262026" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0"></iframe>
			<br />
			<small>
				<a href="https://www.google.ca/maps/place/355+Portage+Ave/@49.8938529,-97.1459161,19z/data=!4m2!3m1!1s0x52ea7158f81f09c1:0xcb3fd043d0d6fff5" style="color:#0000FF;text-align:left">View Larger Map</a>
			</small>
			<p>
				<b>Location:</b>
				<a href="https://www.google.ca/maps/place/355+Portage+Ave/@49.8938529,-97.1459161,19z/data=!4m2!3m1!1s0x52ea7158f81f09c1:0xcb3fd043d0d6fff5">
					<div>Canadian Tire Data Centre</div>
					<div>355 Portage Ave</div>
					<div>Winnipeg, MB R3B 2C3</div>
                    <div>(In the Air Canada Building Downtown)</div>
				</a>
			</p>
		</div>
