		<div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2570.1493682210607!2d-97.14425899999998!3d49.89599899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7cfd9ef8b9600239!2sSkullspace!5e0!3m2!1sen!2sca!4v1401653534571" width="425" height="350" frameborder="0"  scrolling="no" marginheight="0" marginwidth="0" style="border:0"></iframe>
			<br />
			<small>
				<a href="https://www.google.ca/maps/place/Skullspace/@49.895999,-97.144259,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x7cfd9ef8b9600239" style="color:#0000FF;text-align:left">View Larger Map</a>
			</small>
			<p>
				<b>Location:</b>
				<a href="https://www.google.ca/maps/place/Skullspace/@49.895999,-97.144259,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x7cfd9ef8b9600239">
					<div>SkullSpace</div>
					<div>374 Donald St</div>
					<div>Winnipeg, MB R3B 2J2</div>
				</a>
			</p>
		</div>
