extends layout

block append content
  h1 #{title}
  
  p .
    If you have any suggestion do not hesitate to contact us at <a target="_blank" href="http://twitter.com/winnipegjs">@winnipegjs</a> or by email <a href="mailto:michael@yagudaev.com">michael@yagudaev.com</a>.

  ul
    li
      h2 
        a(href="/events/nov-21-2012") Third Meetup: Phonegap - Cross Platform Mobile Development
      time(datetime="2012-11-21") Wednesday November 21th, 2012 @ UofM SmartPark
      a(href="/events/nov-21-2012")
        img(src="/images/phonegap-logo.png")
      p .
        Phonegap is a platform that bridges the shortcomings of standard mobile web 
        and native applications. It provides a standard API and tools to produce a 
        compiled native application, while still using Javascript as our language of choice. 
      p .
        We will first discuss Mobile Web, see how far its come and see a simple 
        demonstration of what it can do.  Then, we will move onto Phonegap, 
        what problems it solves, how it can be extended and some caveats of the platform.

    li
      h2 
        a(href="/events/oct-30-2012") Second Meetup: Test Driven Development
      time(datetime="2012-10-30") Tuesday October 30th, 2012 @ UofM SmartPark
      a(href="/events/oct-30-2012")
        img(src="/images/jasmin-logo.png")
      p .
        Test Driven Development is software development methodology based on "test first" approach.
      p .
        That means that before even writing a line of code we need to write a test for it. 
      p .
        The idea seems fine for languages like C# however what about Javascript? Javascript is quite a popular language (if not the most) so, are we condemned to test the UI every time I want to test my JS code? Why can't we do TDD with it?
      p .
        Of course we can! Join me on a session to discuss how to start with Jasmine, a JS library for testing in general, that provides great syntax to use TDD. I assure you your JS code will never be the same!

    li
      h2 
        a(href="/events/sep-26-2012") First Meetup: Intro to Node.js
      time(datetime="2012-09-26 18:00") 6pm Wednesday, September 26, 2012 @ UofM Smart Park
      a(href="/events/sep-26-2012")
        img(src="/images/nodejs-logo.jpg")
      p .
        We decided to do our first meeting about one of the hottest topics in the development world 
      p .
        We will start with a quick introduction to Node.js and then go over a few uses of Node.js and when not to use it. We will then dive into a few popular frameworks and see what each is good for and which you should use for your projects. <a href="/events/sep-26-2012">More</a>
