<% include ../top %>
<% include event-scripts %>

<% include gm-ct-data-centre %>

		<div class="description event-2014-05-12">
			<h1>Fifth Meetup: A New Vision</h1>
			<time datetime="2014-05-12 19:00">7pm Mon, May 12, 2014 @ Canadian Tire Data Centre</time>
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/1/13/Canadian_Tire_Logo.svg/189px-Canadian_Tire_Logo.svg.png">
			<p>Please RSVP to the event using Eventbrite using this link: <a href="https://www.eventbrite.ca/e/a-new-vision-tickets-11522416859">Eventbrite</a>.</p>
			<p>
                Let's meetup again and bring this community back on track again. The JS related topic for this meetup is not yet
                determined and will be announced later. Since Canadian Tire established their new data centre and design studio
                in Winnipeg, they have been planning to help build a stronger User Groups community and decided to join Winnipeg.js.
                At this meetup, Adam Merrifield and Craig Haney from the Canadian Tire Innovations in Kitchener will talk about their
                vision for Winnipeg's developer community and Canadian Tire's new design studio. There will probably be one or two
                speakers at the event presenting some JS related topics. If anybody would like to present something that is JS related,
                please let us know. You can contact us on Twitter or via email. We hope to see everybody again at this event ... share
                our experiences, catch up and have simply fun hanging out. And, of course, food and beverages will be provided, as always.
			</p>
		</div>

<% include ../bottom %>
