<% include ../top %>
<% include event-scripts %>

<% include gm-lego %>

		<div class="description event-2012-10-30">
			<h1>Second Meetup: Test Driven Development</h1>
			<time datetime="2012-10-30 18:00">6pm Tuesday, October 30, 2012 @ UofM Smart Park</time>
			<img src="/images/jasmin-logo.png">
			<p>Please RSVP to the event using Eventbrite using this link: <a href="http://www.eventbrite.com/event/4657304122">Eventbrite</a></p>
			<p>Test Driven Development is software development methodology based on "test first" approach.</p>
			<p>That means that before even writing a line of code we need to write a test for it.</p>
			<p>Benefits of applying TDD includes:</p>
			<ul>
				<li>Increase development confidence</li>
				<li>Improve quality of the code and use quality as a driver</li>
				<li>Regression testing at any point</li>
				<li>Automatic documentation</li>
				<li>Bring back the joy of coding!</li>
			</ul>
			<p>The idea seems fine for languages like C# however what about Javascript? Javascript is quite a popular language (if not the most) so, are we condemned to test the UI every time I want to test my JS code? Why can't we do TDD with it?</p>
			<p>Of course we can! Join me on a session to discuss how to start with Jasmine, a JS library for testing in general, that provides great syntax to use TDD. I assure you your JS code will never be the same!</p>
			
			<h2>About the Speaker</h2>
			<p>Amir Barylko started his career in 1994 working for IBM as a senior developer while he was finishing his Masters degree in computer science. Since then he worked as team leader and architect for the past 15 years.</p>
			<p>
				Having started with languages like C++ and Java he spent many years coding in C# and training other developers in topics such domain modeling, abstractions, patterns, automation, dependency injection, testing, etc.
				Being an incurable geek, always thirsty for knowledge, his passion for technology moved him towards Ruby on Rails a few years ago, becoming an advocate of RoR web development. Also following he's teaching passion he did his first RoR training a year ago, and recently a TDD training with great reviews.
				Amir is a rare combination of high technical skills, lots of experience in a wide range of platforms, exceptional presentation skills and great sense of humor. His presentations are always rich in content and fun to attend.
			</p>
			
			<h2>What to Bring</h2>
			<p>If you wish to follow along you should bring your laptop with you and make sure you install Node.js. We will be using it to run the unit-tests during the presentation.</p>
		</div>

<% include ../bottom %>
