<% include ../top %>
<% include event-scripts %>

<% include gm-lego %>

		<div class="description">
			<h1>First Meetup: Intro to Node.js</h1>
			<time datetime="2012-09-26 18:00">6pm Wednesday, September 26, 2012 @ UofM Smart Park</time>
			<img src="/images/nodejs-logo.jpg">
			
			<p>Please RSVP to the event using Eventbrite using this link: <a href="http://www.eventbrite.com/event/4414239108?ref=elink">http://www.eventbrite.com/event/4414239108?ref=elink</a>.</p>
			<p>We decided to do our first meeting about one of the hottest topics in the web development world, Node.js.</p>
			<p>We will start with a quick introduction to Node.js and then go over a few uses of Node.js and when not to use it. We will then dive into a few popular frameworks and see what each is good for and which you should use for your projects.</p>
			<p>Note: the exact topics will be subject to change due to time and other considerations. If you have other ideas for talks, or want to tell us what we *must* cover contact us on twitter <a href="http://www.twitter.com/winnipegjs">@winnipegjs</a>.</p>
			<p>Remeber to RSVP to the event if you are planning on attending. Hope to see you all there!</p>
			
			<p><a target="_blank" href="/slides/meetup-1-intro-to-node.pptx">Slides</a></p>
			<p><a target="_blank" href="https://github.com/yagudaev/winnigram">Source Code (github)</a></p>
			<p><a target="_blank" href="http://youtu.be/Rqxx7R_m1aQ">Video (only first part of talk)</a></p>
		</div>

<% include ../bottom %>
