extends layout

block content
  h1 #{title}
  
  ul
    li
      h2 
        a(href="/events/") Second Meetup: October Meeting (TBA)
      time(datetime="2012-10-20") TBA October, 2012 @ TBA
      a(href="/events/")
        img(src="/images/tba-topic-logo.jpg")
      p .
        Topic(s) will be annoucned soon. We are hoping to talk about TDD in Javascript, but this will depend on availability of the speaker.
      p .
        If you have any suggestion do not hesitate to contact us at <a target="_blank" href="http://twitter.com/winnipegjs">@winnipejs</a> or by email <a href="mailto:michael@yagudaev.com">michael@yagudaev.com</a>.
    li
      h2 
        a(href="/events/sep-26-2012") First Meetup: Intro to Node.js
      time(datetime="2012-09-26 18:00") 6pm Wednesday, September 26, 2012 @ UofM Smart Park
      a(href="/events/sep-26-2012")
        img(src="/images/nodejs-logo.jpg")
      p .
        We decided to do our first meeting about one of the hottest topics in the development world 
      p .
        We will start with a quick introduction to Node.js and then go over a few uses of Node.js and when not to use it. We will then dive into a few popular frameworks and see what each is good for and which you should use for your projects. <a href="/events/sep-26-2012">More</a>