extends layout

block content
  h1 #{title}
  
  h2 First Meetup: Intro to Node.js
  time(datetime="2012-09-26 18:00") Wednesday, September 26, 2012 @ UofM Smart Park
  img(src="/images/nodejs-logo.jpg")
  p .
    We decided to do our first meeting about one of the hottest topics in the development world 
  p .
    We will start with a quick introduction to Node.js and then go over a few uses of Node.js and when not to use it. We will then dive into a few popular frameworks and see what each is good for and which you should use for your projects. <a href="/events/sep-26-2012">More</a>