doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(src='/javascripts/modernizr.custom.js')
  body
    header
      div#logo (Winnipeg.js);
      ul#nav
        li 
          a(href="/", class= page === 'index' ? 'active' : '') Home
        li
          a(href="/events", class= page === 'events' ? 'active' : '') Events
        li 
          a(href="/resources", class= page === 'resources' ? 'active' : '') Resources
        li 
          a(href="/members", class= page === 'members' ? 'active' : '') Members
    div#main(class=page)
      block content
    footer
      div
        div
          a(href="http://www.linkedin.com/groups/Winnipegjs-4520628?home=&gid=4520628&trk=anet_ug_hm&goback=%2Egmp_4520628")
            img(src="/images/linkedin-icon.png", alt="Join us on Linkedin", title="Join us on Linkedin")
          span Join our <a href="http://www.linkedin.com/groups/Winnipegjs-4520628?home=&gid=4520628&trk=anet_ug_hm&goback=%2Egmp_4520628">Group</a> on Linkedin
        div
          a(href="http://twitter.com/winnipegjs")
            img(src="/images/twitter-icon.png", alt="Follow us on Twitter", title="Follow us on Twitter")
          span Follow @<a href="http://twitter.com/winnipegjs">WinnipegJS</a> on Twitter
        div
          a(href="http://github.com/yagudaev/winnipegjs")
            img(src="/images/github-icon.png", alt="Contribute on Github", title="contribute on Github")
          span Contribute on <a href="http://github.com/yagudaev/winnipegjs">Github</a>
      div#copyrights
        div .
          Winnipeg.js website developed by
          <a href="http://www.yagudaev.com">Michael Yagudaev</a>
        div .
          Designed by
          <a href="http://www.vadimbrodsky.com">Vadim Brodsky</a>