extends layout

block content
    h1 #{title}

    h2.section.js JavaScript

    h2 Books
    ul.books
        li
            a(href="http://www.amazon.ca/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742")
                img(src="/images/goodparts.gif")
            h3
                a(href="http://www.amazon.ca/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742") JavaScript: The Good Parts
            span .
                This great JavaScript book written by Douglas Crockford himself is a must read for every JavaScript Programmer.

    h2 Articles
    ul.articles
        li .
            Nothing, yet.

    h2 Videos
    ul.videos
        li
            "JavaScript: The Good Parts"
            ul
                li: a(href="http://www.livestream.com/etsy/video?clipId=pla_1463e546-47ed-4a93-b59a-bd52b236e8b8") http://www.livestream.com/etsy/video?clipId=pla_1463e546-47ed-4a93-b59a-bd52b236e8b8
                li: a(href="http://www.youtube.com/watch?v=hQVTIJBZook") http://www.youtube.com/watch?v=hQVTIJBZook

    h2 Other Links
    ul.otherlinks
        li
            a(href="http://javascript.crockford.com/") Douglas Crockford - JavaScript


    h2.section.node Node.js

    h2 Books
    ul.books
        li .
            Nothing, yet.

    h2 Articles
    ul.articles
        li .
            Nothing, yet.

    h2 Videos
    ul.videos
        li .
            Nothing, yet.

    h2 Other Links
    ul.otherlinks
        li
            a(href="http://nodejs.org/api/index.html") Documentation