/*TEST: Makes top left corner logo red, this means client has been detected as mobile*/
#logo a {
    color: red;
    text-decoration: none;
}

/*Erase top left logo*/
header #logo {
    display: none;
}

    /*Resize center logo*/

    /*Reformat menu*/
    header ul {
        margin: 0;
        padding: 0;
        
        /*center*/
        float: none;
        margin-left: 17px;
    }

    header li {
        display: block;
        margin: 10px 5px;
        float: left;
    }
    
        header li a {
            /*padding: 5px 20px;*/
            padding: 5px 10px;
        }
  
/*Resizing area between top menu and bottom info*/      
#main {
    padding: 10px 25px;
    background: white url(/images/bg.jpg) repeat;
}

    #main.index .logo-wrapper {
        margin-bottom: 20px;
        margin-top: 0px;
    }

    #main.index .logo {
        font-size: 3em;
    }
    
    /* Who are we? What is Javascript? etc to single column layout*/
    #main.index .columns {
        margin-top: 0px;
        width: 100%;    
    }
        #main.index .columns > div {
            float: none;
            width: 97%;
            margin-left: 0px;
        }
        
        #main.index .columns > div:first-child {
            margin-left: 0;
        }
    
/* event list page, just some tweaks to spacing*/
#main.events img {
    margin-right: 12px;
}

#main.events time{
    display: block;
    margin-bottom: 17px;
}

#main.events ul{
}

    #main.events ul li{
        margin-bottom: 20px;
        padding-bottom: 0;
    }
    
        #main.events ul li p{
            margin-bottom: 0px;
        }

/* event detail page single column modifications*/ 
#main.event-page {
    margin: 0;
    padding: 0;
}
    
    #main.event-page .description {    
        padding: 0 25px 10px 25px;
    }
    
        #main.event-page .description h1{    
            font-size: 1.5em;
        }
        
        #main.event-page .description time{
            display: block;
            margin-bottom: 17px;
        }
        
        #main.event-page .description img{
            display: none;
        }
        
        #main.event-page .description p:first-of-type{
            margin-top: 0;
        }
        
    #main.event-page .map {
        margin: 0;
        float: none;
        width: 100%;
        padding-left: 0;
    }
    
        #main.event-page .map iframe{
            width: 100%;
            height: 250px;
        }
        
        /* since map covers entire width must maintain borders on elements*/
        #main.event-page .map small{
            font-size: 1.2em;
            text-align: center;
            margin-left: 34%;
        }
        
        #main.event-page .map p{
            display: none;
        }
        
        #main.event-page .map div{
            margin-left: 25px;
        }
        
        #main.event-page .map div:first-of-type{
            margin-top: 10px;
        }
        
        #main.event-page .map small, #main.event-page .map div{
            font-size: 1.2em;
        }
    
.announcement {
    padding: 10px 20px;
    font-size: 21px;
}

/*footer information like linked in and twitter links*/
footer {
    padding: 5px 0;
}

    footer > div {
        width: 350px;
    }
    
    footer > div > div {
        float: none;
        margin-left: 60px;
        margin-top: 10px;
    }
    
    footer #copyrights {       
        width: 300px;
        font-size: 1em;
        padding: 0;
    }
    
    footer #copyrights a {
        color: #969091;
        display: inline;
        text-align: center;
        margin: 0;
    }
    
    footer #copyrights > div {
        float: none;
        padding: 0;
        margin: 5px 0;
    }