/*TEST: Makes top left corner logo red, this means client has been detected as mobile*/
#logo a {
    color: red;
    text-decoration: none;
}

/*Erase top left logo*/
header #logo {
    display: none;
}

    /*Resize center logo*/

    /*Reformat menu*/
    header ul {
        margin: 0;
        padding: 0;
        
        /*center*/
        float: none;
        margin-left: 17px;
    }

    header li {
        display: block;
        margin: 10px 5px;
        float: left;
    }
    
        header li a {
            /*padding: 5px 20px;*/
            padding: 5px 10px;
        }
  
/*Resizing area between top menu and bottom info*/      
#main {
    padding: 10px 25px;
    background: white url(/images/bg.jpg) repeat;
}

    #main.index .logo-wrapper {
        margin-bottom: 20px;
        margin-top: 0px;
    }

    #main.index .logo {
        font-size: 3em;
    }
    
    /* Who are we? What is Javascript? etc to single column layout*/
    #main.index .columns {
        margin-top: 0px;
        width: 100%;    
    }
        #main.index .columns > div {
            float: none;
            width: 97%;
            margin-left: 0px;
        }
        
        #main.index .columns > div:first-child {
            margin-left: 0;
        }
    
.announcement {
    background: #ffe999;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 21px;
    font-family: Arial;
    color: #574d4f;
    border: 1px solid #969091;
    text-align: center;
}

/*footer information like linked in and twitter links*/
footer {
    padding: 5px 0;
}

    footer > div {
        width: 350px;
    }
    
    footer > div > div {
        float: none;
        margin-left: 60px;
        margin-top: 10px;
    }
    
    footer #copyrights {       
        width: 300px;
        font-size: 1em;
        padding: 0;
        
        /*In case in-browser buttons, e.g. zoom-in in Dolphin, or other stuff obscures the bottom of the page*/
        margin-bottom: 50px;
    }
    
    footer #copyrights a {
        color: #969091;
        display: inline;
        text-align: center;
        margin: 0;
    }
    
    footer #copyrights > div {
        float: none;
        padding: 0;
        margin: 5px 0;
    }